nav{
    
    margin: -10px;
    margin-top: -25px;
    background: #222;
    font-size: 18px; 
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content:center;
    
    
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    
    
}

.menu-horizontal >li:hover{
    background-color: lightsalmon;
    
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0,0,0,.5);
    font-size: 15px;
    
}

.menu-horizontal li:hover .menu-vertical{
display: block;
    
    
    
}

.menu-vertical li:hover{
background-color: black;
    
    
    
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px, 15px, 15px , 20px;
    text-decoration: none;
        
    
}