

.contenedor1{
    
    display: grid;
    
    text-align: center;
    color:whitesmoke;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-rows: .1fr .1fr 1fr;
    
    
    grid-template-areas: 
                         "titulo titulo titulo"
                            "c1 c2 c3 "
                            "p1 p2 p3" ;
                        
                        
    grid-gap: .5rem;
    
}

    
    
}

#titulo{
    background-color: rgb(0,0,0,.3);
    grid-area: titulo;
}

#c1{
    grid-area: c1;
  background-color: rgb(0,0,0,.3);
    border-radius: 7%;
    
    
}

#c2{
    background-color: rgb(0,0,0,.3);
    grid-area: c2;
     border-radius: 7%;
    
    
}
#c3{
  background-color: rgb(0,0,0,.3);
    grid-area: c3;
     border-radius: 7%;
    
    
}

#p1{
   background-color: rgb(255,255,255,.3);
    grid-area: p1;
     border-radius: 7%;
    
    
    
}

#p2{
    background-color: rgb(255,255,255,.3);
    grid-area: p2;
    
     border-radius: 7%;
    
}
#p3{
   background-color: rgb(255,255,255,.3);
    grid-area: p3;
     border-radius: 7%;
    
    
}

@media only screen and(max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: .04fr .04fr 2.2fr 1fr 1.2fr  1fr 1.2fr;
        grid-template-areas: "nav"
                            "main"
                            "sidebar"
                            "content1"
                            "content2"
                            "content3"
                            "footer";
    }
}

@media only screen and (max-width: 29.8125rem /*477px*/) {
    .container {
        justify-content: space-around;
    }
}
@media only screen and (max-width: 77.5rem /*1240px*/ ) {
    .container {
        justify-content: space-evenly;
    }
}
